{% extends "base.html" %}
{% load static %}
{% load templatetaghelpers %}

{% block title  %} {{ first_name|title }} {{ last_name|title }} | Donder Profile {% endblock %}
{% block metatag %} 
<meta name="description" content="View and edit your profile on Donder. Keep track of your hiking progress and connect with other hikers. Sign up today to start logging your hikes!">
{% endblock metatag %}

{% block user_login %}
{% if public_user == False %}
{% if stripe_user_auth == True  %}
  <button class="button-login" id="account-button" style="display: flex; margin-left:auto; float:right; margin-right:10px"><a id="logout-btn-txt" class="login-button-text-colorful" href="{% url 'create-customer-portal-session' %}" style="color: inherit; text-decoration: inherit;">Account</a></button>
{% else %}
  <button class="button-login" id="subscribe-button-nav" style="display: flex; margin-left:auto; float:right; margin-right:10px"><a id="logout-btn-txt" class="login-button-text-colorful" style="color: inherit; text-decoration: inherit;">Subscribe</a></button>
{% endif  %}
  <button class="button-login" id="logout-button" ><a id="logout-btn-txt" class="login-button-text-colorful" href="{% url 'logout' %}" style="color: inherit; text-decoration: inherit;">Logout</a></button>
{% endif %}
{% endblock %}


{% block content %}
<head><link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" /></head>
<div class="hero-bg"></div>

<script>
  // script to allow for image preview to be updated when user uploads new profile picture
  function uploadImage(input){
  if (input.files && input.files[0]) {
    var url = URL.createObjectURL(input.files[0]);
    $('#profile-img-update-preview').attr('style', 'background-image:url(' + url + ')');
  }
}
</script>

<!-- edit profile modal -->
<div id="edit-profile-modal" class="modal edit-profile-modal" style="z-index:1000; color: white">
  <div id="modal-content" class="modal-content" style="align-items: center;">
    <h3 class ="modal-title-add-hike pb-0 mb-0" style="text-align: center; font-size:0.9em; font-weight: 500;">Edit Profile</h3>
      <form action="" method="POST" enctype="multipart/form-data">
        <hr/>
        {% csrf_token %}
        <div class="edit-profile-img-container" style="position: relative; display: flex; justify-content: center; align-items: center;">
              <div class="image-upload" style="align-items: center;">
                <label for="file-input">
                  <div id="profile-img-update-preview" class="img-profile-edit" style="background-image: url({{user_profile.profileimg.url}});"></div>
                  <div class="edit-profile-img-icon" style="font-size:0.7em; opacity: 0.5; line-height: 0.9em; cursor: pointer;">Click to Upload</div>
                </label>
                <input id="file-input" name="image-edit" type="file" accept="image/*" onchange="uploadImage(this)"/>
              </div>
        </div>
        <div class="edit-profile-form-inputs-container" style="display:inline-block; padding-left:5px">
            <div class="text-input" style="display: block; margin-bottom: 5px;">
              <span class="form-label text-muted mb-0 pb-0" style="font-size: 0.5em; display: block; text-align: left;">First Name:</span>
              <input type="text" name="firstname_edit" value="{{user.first_name}}" class="form-input shadow-none mt-0 pt-0" placeholder="First Name" style="width:100%">
            </div>
            <div class="text-input" style="display: block; margin-bottom: 5px;">
              <span class="form-label text-muted" style="font-size: 0.5em; display: block; text-align: left;">Surname:</span>
              <input type="text" name="surname_edit" value="{{user.last_name}}" class="form-input shadow-none" placeholder="Surname" style="width:100%">
            </div>
            <div class="text-input" style="display: block; margin-bottom: 5px;">
              <span class="form-label text-muted" style="font-size: 0.5em; display: block; text-align: left;">Town/City:</span>
              <input type="text" name="city_edit" value="{{user_profile.town_city}}" class="form-input shadow-none" placeholder="Town/City" style="width:100%">
          </div>
            <div class="text-input">
                <span class="form-label text-muted" style="font-size: 0.5em; display: block; text-align: left;">Location:</span>
                <input type="text" name="location_edit" value="{{user_profile.location}}" class="form-input shadow-none mb-2" placeholder="Location" style="width:100%">
                <button type="submit" class="button-profile-edit-update" style="width:100%">Save Updates</button>
            </div>
        </div> 
    </form>
  </div>
</div>

<div class="container d-flex justify-content-center" style="width: 100%; height:20%;">
<div class="main-div row mr-0 ml-0">
    <div class="profile-progress-col col-lg-4 p-0" style="position: relative;">
      <div class="card mb-2" style="border-radius: 16px;">
        {% if public_user == False %}
          <button class="button-edit-profile" id="edit-profile-button"><img class="edit-profile-img" style="opacity:0.7; filter:saturate(70%) !important; width:18px; position: relative;" src="{% static 'img/icons8-pencil-drawing-48.png' %}"/></button>
        {% endif %}
        <div class="card-body text-center" id="progress-card" style="height: 85vh; max-height: 800px;">

          <div class="img-profile mt-3" style="background-image: url({{user_profile.profileimg.url}});"></div>

          <h5 class="mb-1 mt-2" style="color: black;">{{first_name|title}} {{last_name|title}} {% if stripe_user_auth %}<img src="{% static 'img/icons8-verified-badge-48.png' %}" style="width:16px; height: 16px; vertical-align: center;"/>{% endif %}</h5>
          <p class="text-muted mb-4 mt-0" style="font-size: 1rem; color: darkgrey;">{% if user_profile.town_city != None %}{{user_profile.town_city}}, {% else %}{% endif %}{{user_profile.location}}</p>

          <div class="progress-container" style="overflow: scroll; position: absolute; bottom:0; top:270px; left:0; width:100%; padding-bottom:0.5em;  padding-left:1.25rem; padding-right:1.25rem; ">
            {% for mountain_name_key, total_count_val in total_category_counts.items %}
              <p class="mb-0 ml-0 text-left" style="font-size: .7rem; color: black;">{{ mountain_name_key }}s:
              <span class="float-right mb-0" style="font-size: .6rem; color: darkgrey;">{{ user_category_counts|return_item:forloop.counter0 }}/{{ total_count_val }}</span></p>
              <div class="progress rounded mb-1" style="height: 10px;">
                <div class="progress-bar" role="progressbar" style="width: {{ user_progress_cat|return_item:forloop.counter0|addpercent }} " aria-valuenow=" {{ user_progress_cat|return_item:forloop.counter0 }} "
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            {% endfor %}
            
          {% for country_name_key, total_count_country_val in total_country_counts.items %}
            <p class="mb-0 ml-0 mt-0 text-left" style="font-size: .7rem; color: black ">{{ country_name_key }}
            <span class="float-right mr-0" style="font-size: .6rem; color: darkgrey;">{{ user_country_counts|return_item:forloop.counter0 }}/{{ total_count_country_val }}</span></p>
            <div class="progress rounded mb-1" style="height: 10px;">
              <div class="progress-bar" role="progressbar" style="width: {{ user_progress_country|return_item:forloop.counter0|addpercent }}" aria-valuenow="{{ user_progress_country|return_item:forloop.counter0 }}"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 p-2" style="position: relative; margin-bottom: none; padding-bottom: none; color: black; height: 85vh; max-height:800px;">
      <div class="card" style="border-radius: 16px; height: 65%; margin-top: -0.5rem; margin-bottom: 0.6rem; padding-bottom: none; overflow: auto;">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
            </div>
          </div>
          <div class="journal-grid-wrapper">
            <div class="grid">
                <div class="journal-auto-grid">
                      {% if public_user == False %}
                        <a class="card-block stretched-link" id="button-add-hike" href='javascript:;' onclick="{% if journal_entry_lim == False %}add_hike(event);{% else %}journal_lim(event);{% endif %}">
                        <div class="journal-tile" id="site-tile" style="color:black"><img class="cover" style="opacity:0.6; filter: saturate(0%);" src="{% static 'img/ben_nevis_test.png' %}"/> 
                        <div class="journal-tile-heading add-hike-title" style="font-size:3em; opacity: 0.5">+</div></div></a>
                      {% endif %}
                      
                      {% for jounral_entry in journal_entries %}
                        {% if public_user == False %}
                          <a class="card-block stretched-link" href='javascript:;' id="journal-tile-link-{{ jounral_entry.id }}" onclick="journal_entry_info(event, '{{ jounral_entry.id|escapejs }}', '{{ jounral_entry.mountain_fk.latitude }}', '{{ jounral_entry.mountain_fk.longitude }}');">
                          {#% if jounral_entry.id|post_image_thumbnail %#} <!-- check to see if these any associated images for post -->
                            <!-- <div class="journal-tile" id="site-tile" style="color:black"><img class="cover" style="opacity:1.0" src="{{ jounral_entry.id|post_image_thumbnail }}"/>  -->
                          {#% else %#}
                            <div class="journal-tile" id="site-tile" style="color:black"><img class="cover" style="opacity:1.0" src="{% static 'img/mountains_img_db/' %}{{ jounral_entry.mountain_fk.id }}_{{ jounral_entry.mountain_fk.name|replace_spaces }}.png"/>
                          {#% endif %#} 
                          <h3 class="journal-tile-heading">{{ jounral_entry.mountain_name }}</h3>
                          <div class="journal-tile-date-climbed">{{ jounral_entry.date_climbed|date:'jS F, Y'|capfirst }}</div></div></a>
                        {% else %}
                          <a class="card-block stretched-link" href='javascript:;' onclick="no_community_feed(event)" style="text-decoration: none; color:black" id="journal-tile-link-{{ jounral_entry.id }}" >
                            {#% if jounral_entry.id|post_image_thumbnail %#} <!-- check to see if these any associated images for post -->
                              <!-- <div class="journal-tile" id="site-tile" style="color:black"><img class="cover" style="opacity:1.0" src="{{ jounral_entry.id|post_image_thumbnail }}"/>  -->
                            {#% else %#}
                              <div class="journal-tile" id="site-tile" style="color:black"><img class="cover" style="opacity:1.0" src="{% static 'img/mountains_img_db/' %}{{ jounral_entry.mountain_fk.id }}_{{ jounral_entry.mountain_fk.name|replace_spaces }}.png"/>
                            {#% endif %#} 
                            <h3 class="journal-tile-heading">{{ jounral_entry.mountain_name }}</h3>
                            <div class="journal-tile-date-climbed">{{ jounral_entry.date_climbed|date:'jS F, Y'|capfirst }}</div></div></a>
                        {% endif %}
                        <!-- more details modal -->
                        <div id="journal-details-modal-{{ jounral_entry.id }}" class="modal journal-entry-modal infinite-item" style="z-index:1000; color: white">
                          <div class="modal-content-edit-profile">
                              <span class ="modal-title-journal mb-0 pb-0 mt-3" style="text-align: center; font-size:0.9em; font-weight: 500; display: block; line-height: 0.9em; margin-bottom:-8px !important">{{ jounral_entry.mountain_name }}</span>
                              <span class ="modal-date-climbed text-muted mb-0 pb-0 mt-0" style="text-align: center; font-size:0.55em; font-weight: 200; line-height: 0em;">{{ jounral_entry.date_climbed|date:'l, jS F, Y'|capfirst }}</span>
                              <hr style ="margin-top: 0; margin-bottom: 10px ;"/>   
                              <div class="information-div mt-0 mb-0 pt-0">
                                  <img src="{% static 'img/information-div/icons8-place-marker-50.png' %}" alt="Icon of location pin"/>
                                  <span class= "information-div-text text-muted info-region-text info-element" >{{ jounral_entry.mountain_fk.region }}</span>
                                  <img src="{% static 'img/information-div/icons8-mountain-50.png' %}" alt="Icon of mountain used to symbolise the number of ascents made by users"/>
                                  <span class= "information-div-text text-muted info-element">{{ mountain_ascends_count|get_ascend_count:jounral_entry.mountain_fk.name }}<br/>Ascents</span>
                                  <img src="{% static 'img/information-div/icons8-resize-vertical-50.png' %}" style="height:80%" alt="Icon of vertical, double ended, arrow to symbolise height of mountain"/>
                                  <span class= "information-div-text text-muted info-element">{{ jounral_entry.mountain_fk.height_meters }}<br/>Meters</span>
                                  {% for class_ele in jounral_entry.mountain_fk.classification|split:" " %}
                                    <div class="information-div-ele info-element">
                                      {% if class_ele %}<button class="cat-filter-journal-entry">{{ class_ele }}</button>{% endif %}
                                    </div>
                                  {% endfor %}
                              </div>
                              <div id="map-{{ jounral_entry.id }}" style="position: relative; top: 0; bottom: 0; height: 300px; width: 100%; border-radius: 16px; margin-top:7px"></div>
                              <div name="caption" style="font-size: 0.6em; width:100%; border: none; resize: none; margin-top: 20px; margin-bottom: 50px; text-align:left" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ jounral_entry.caption }}</div>
                              <div class="media-scroller">
                                {% for img in post_images|filterpostimages:jounral_entry %}
                                <div class="media-element">
                                  <img src="{{ img.image.url }}" alt="uploaded journal image from user's hike">
                                </div>
                                {% endfor %}
                              </div>
                              {% if public_user == False %}
                            <form action="{% url 'remove_post' %}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="button-profile-edit-update mt-4" name="delete-post-btn" value="{{ jounral_entry.id }}" style="width:100%; background-color:#ff4040b4; margin-top:0px; ">Delete Entry</button>
                            </form>
                            {% else %}
                            {% endif %}
                            </div>
                      </div>
                      {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>

    <!-- journal limit modal -->
    <div id="modal-no-pro-journal-limit" style="color: black" class="modal-journal-lim">
      <div class="modal-content card">
          <h3 class ="modal-title-login mb-2 text-muted" style="text-align: center; font-size:0.9em; font-weight: 500;">Please Subscribe</h3>
          <hr style="margin-top:5px; margin-bottom:0px"/>
          <div class="modal-body">
            <div class="md-form mb-2">
                <p class="text-muted" style="font-size:0.6em">You have reached your free quota for journal entries, please subscribe to get full feature access and unlimited journal entries.</p>
            </div>
            <div class="row d-flex align-items-center mb-0">
              <div class="text-center mb-0 col-md-12">
                <button id="profile-buy" type="submit" class="button-buy-profile button-login-request" style="width:100%">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="{% static 'js/journal-entry-limit.js' %}"></script> 
      <script src="{% static 'js/buy-opts-modal-profile.js' %}"></script> 

      <!-- add hike modal -->
      <div id="modal-add-hike" class="modal add-hike-modal" style="z-index:1000">
        <div class="modal-content">
          <h3 class ="modal-title-add-hike pb-0 mb-0" style="text-align: center; font-size:0.9em; font-weight: 500;">Add Hike</h3>
          <form action="{% url 'add_hike' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for message in messages %}
              <p class="addhike-message" id="addhike-message">{{ message }}</p>
            {% endfor %}
            <hr/>
            <div>
            </div>
            <textarea class="pt-0 mt-0 pb-5" name="caption" placeholder="Capture your thoughts and memories from your hike here..." style="padding: 0 8px; font-size: 0.65em; width:100%; border: none; resize: none;" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
            <!-- <textarea class="button soft-warning small" name="mountain-name" placeholder="mountain..." ></textarea> -->
            <div id="autocomplete" class="autocomplete">
              <input class="autocomplete-input" name="mountain-name" placeholder="Mountain Name..."/>
              <ul class="autocomplete-result-list"></ul>
            </div>
            <script> 
            new Autocomplete('#autocomplete', {
                        search : input => {
                            const url = `/search/?mountain_name=${input}`
                            return new Promise(resolve => {
                              fetch(url)
                              .then(response => response.json())
                              .then(data => {                       
                                resolve(data.data)
                              })
                            })
                        }
                      }) 
            </script>
            <div class="md-form mt-2">
              <span class="form-label text-muted mb-0 pb-0" style="font-size: 0.5em; display: block; text-align: left;">Date Climbed:</span>
              <input type="date" class="form-control validate add-hike-form-inputs text-muted" name="date-climbed" placeholder="Date Climbed..." >
            </div>
            <span class="form-label text-muted mb-0 pb-0 mt-2" style="font-size: 0.5em; display: block; text-align: left;">Add Photos:</span>
            <div id="upload-img-div" class="add-hike-img-box image-upload mt-0" style="display: flex; align-items: center; justify-content: center; overflow: scroll; overflow-x: hidden;">
                <label for="files" style="cursor: pointer;">
                  <img id="journal-img-upload-icon" width="64" height="64" src="{% static 'img/icons8-image-file-add-64.png' %}" alt="icon for image upload"/>
                </label>
                <input id="files" name="journal-images" type="file" accept="image/*" multiple>
            </div>
            <div id="img-previews" class="media-scroller"></div>
            <div>
                <button type="submit" class="button-profile-edit-update mt-2 mb-0" style="width:100%;">Upload Hike</button>
            </div>
            </form>
        </div>
      </div>

      <script src="{% static 'js/add-hike-modal.js' %}"></script>

            <div class="community-updates-feed card m-0 mb-2"style="border-radius: 16px; height: 36%; overflow: auto; width:49.25%; float:left" >
                <div class="card-body" style="color: black">
              <h2 class="text-muted mb-1" style="font-size: 0.6em; font-weight:500">Community Updates</h2>
              <hr/>
              {% for entry in community_updates %}
              {% if stripe_user_auth %}
                <a href="#" class="modal-link" data-post-id="{{ entry.id }}" style="text-decoration: none; color:black">
              {% else %}
                <a href='javascript:;' onclick="no_community_feed(event)" style="text-decoration: none; color:black">
              {% endif %}
              <div class="post" data-post-id="{{ entry.id }}" style="display: flex; align-items: center;">
                <div class="img-profile-status" style="background-image: url({{entry.user|get_user_profile_image}}); width: 55px; height: 55px;"></div>
                <div class="post-info" style="flex: 1; text-align:left; margin-left: 10px;">
                  <p style="font-size: 0.5em; margin-top:0; margin-bottom:0; font-weight: 400;">{{ entry.user|get_full_name_user }}</p>
                  <p style="font-size: 0.5em; margin-top:0; margin-bottom:0; font-weight: 400;">{{ entry.mountain_name }}</p>
                  <p class="text-muted" style="font-size: 0.4em; margin-top:0; margin-bottom:0;">Climb Date: {{ entry.date_climbed|date:'jS F, Y'|capfirst }}</p>
                  <p class="text-muted" style="font-size: 0.4em; margin-top:0; margin-bottom:0;">Posted: {{ entry.created_at|date:'jS F, Y'|capfirst }}</p>
                </div>
                <div class="post-time-lapsed m-0 p-0 text-muted" style="font-size: 0.48em; text-align:right; line-height:1em "><span id="time-since-last-update-{{ entry.id }}">{{ entry.created_at|time_since_last_update }}</span><br/>ago</div>
              </div>
              </a>
              <hr/>
              <div class="myModal modal journal-entry-modal" id="myModal-{{ entry.id }}">
                <div class="modal-content modal-content-edit-profile" id="myModalContent-{{ entry.id }}" style="color: black"></div>
              </div>
              {% endfor %}
            </div>
          </div>
          
          <div class="leaderboard-card card m-0 mb-1"style="border-radius: 16px; height: 36%; overflow: auto; width:49.25%; float: right">
            <div id="leaderboard">
            <div class="card-body p-0 pl-2 pr-2" style="color: black;">
              <div class="leader-heading p-0 m-0 pt-0 " style="height: 53px; padding-top: 17px!important; line-height: 0.7em; vertical-align: center;">
              <form action="{% url 'profile_dashboard' first_name=first_name|lower last_name=last_name|lower id_user=id_user %}#leaderboard" method="get" id="category-form" class="m-0 p-0" style="height:0px">
                <h3 class="text-muted" style="display: inline-block; margin: 0; padding: 0; font-size: 0.6em; font-weight: 500;">Top</h3>
                <select id="resizing_select-1" class="text-muted m-0 p-0" style="all: unset; cursor: pointer; text-decoration: underline; text-decoration-thickness: 0.2px; text-decoration-color: rgb(213, 208, 208); display: inline-block; padding: 0; margin: 0; box-sizing: border-box; font-size: 0.6em; font-weight: 500; text-align: center; align-items: center; text-align-last: center; flex-wrap: nowrap;" name="leader_filter_category">
                  {% for category in category_list %}
                    <option value="{{ category }}" {% if leader_filter_category == category %} selected {% endif %}>{{ category }}</option>
                  {% endfor %}
                </select>
                <h3 class="text-muted" style="display: inline-block; margin: 0; padding: 0; font-size: 0.6em; font-weight: 500;">baggers of {% if leader_time_filter == 'leader-all-time' %}{% else %}the{% endif %}</h3>
                <select id="resizing_select-2" class="text-muted m-0 p-0" style="all: unset; cursor: pointer; display: inline-block; padding: 0; margin: 0; box-sizing: border-box; font-size: 0.6em; font-weight: 500; text-decoration: underline; text-decoration-thickness: 0.2px; text-decoration-color: rgb(213, 208, 208); text-align-last: center;" id="leader-time-filter" name="leader_time_filter">
                  <option value="leader-week" {% if leader_time_filter == 'leader-week' %} selected {% endif %}>Week</option>
                  <option value="leader-month" {% if leader_time_filter  == 'leader-month' %} selected {% endif %}>Month</option>
                  <option value="leader-year" {% if leader_time_filter  == 'leader-year' %} selected {% endif %}>Year</option>
                  <option value="leader-all-time" {% if leader_time_filter == 'leader-all-time' %} selected {% endif %}>All Time</option>
                </select>
              </form>
              </div>
              <hr class="mt-0 pt-0 ml-2 mr-2" />
              {% for leader_ent in leader_entries %}
              <div class="post ml-2 mr-2" style="display: flex; align-items: center; height:64.5px">
                <div class="post-number" style="font-size: 0.5em; margin-right: 10px;">
                  {% if forloop.counter == 1 %}
                  <img src="{% static 'img/medal-1_24px.png' %}"/>
                  {% elif forloop.counter == 2 %}
                  <img src="{% static 'img/medal-2_24px.png' %}"/>
                  {% elif forloop.counter == 3 %}
                  <img src="{% static 'img/medal-3_24px.png' %}"/>
                  {% else %}
                  {{ forloop.counter }}.
                  {% endif %}
                </div>
                <div class="img-profile-status" style="background-image: url({{leader_profiles|return_item:forloop.counter0|get_user_profile_image}}); width: 55px; height: 55px;"></div>
                <div class="post-info" style="flex: 1; text-align:left; margin-left: 10px;">
                  <p style="font-size: 0.5em; margin-top:0; margin-bottom:0; font-weight: 400;">{{ leader_profiles|return_item:forloop.counter0|get_full_name_user }}</p>
                  <p class="text-muted" style="font-size: 0.4em; margin-top:0; margin-bottom:0;">{{ leader_profiles|return_item:forloop.counter0|get_user_city }}, {{ leader_profiles|return_item:forloop.counter0|get_user_location }}</p>
                </div>
                <div class="post-time-lapsed m-0 p-0 text-muted" style="font-size: 0.48em; text-align:right; line-height:1em "><span>{{ leader_ent.num_entries }} </span>{{ leader_filter_category }}{% if leader_ent.num_entries == 1 %}{% else %}s{% endif %}<br/></div>
              </div>
              <hr class="ml-2 mr-2"/>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="card m-0 mb-2 mt-0 pt-0"style="position: relative; bottom: 0; height: auto; overflow: auto; width:100%; background-color: #f6f6f6; border: 0;">
        <p class="contact-profile font-small white-text d-flex justify-content-end text-muted pb-0 mb-0 mt-0 pt-0" style="font-size: 0.42em;">Please contact <a href="mailto:support@donder.co.uk">&nbsp;support@donder.co.uk&nbsp;</a> if you have any issues</p>
      </div>
    </div>
    </div>
    </div>
    
<!-- no community feed for non-pro users-->
{% if public_user == False %}
<div id="modal-no-other-users" style="color: black" class="modal-no-other-users">
  <div class="modal-content card">
      <h3 class ="modal-title-login mb-2 text-muted" style="text-align: center; font-size:0.9em; font-weight: 500;">Please Subscribe</h3>
      <hr style="margin-top:5px; margin-bottom:0px"/>
      <div class="modal-body">
        <div class="md-form mb-2">
            <p class="text-muted text-center" style="font-size:0.6em">Subscribe to get full access and see updates from other Donder users.</p>
        </div>
        <div class="row d-flex align-items-center mb-0">
          <div class="text-center mb-0 col-md-12">
            <button id="profile-buy-2" type="submit" class="button-buy-profile button-login-request" style="width:100%">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div id="modal-no-other-users" style="color: black" class="modal-no-other-users">
    <div class="modal-content card">
        <h3 class ="modal-title-login mb-2 text-muted" style="text-align: center; font-size:0.9em; font-weight: 500;">Sign Up</h3>
        <hr style="margin-top:5px; margin-bottom:0px"/>
        <div class="modal-body">
          <div class="md-form mb-2">
              <p class="text-muted text-center" style="font-size:0.6em">Sign up to get access and see updates from other Donder users.</p>
          </div>
          <div class="row d-flex align-items-center mb-0">
            <div class="text-center mb-0 col-md-12">
              <a href="https://www.donder.co.uk/" style="display: inline-block; width: 100%">
                <button class="button-signup-3 button-login-request" id="sign-up-btn-3" style="width:100%" action="https://www.donder.co.uk">Sign Up</button>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}


<script src="{% static 'js/no-other-user-feed.js' %}"></script> 
<script src="{% static 'js/buy-opts-modal-profile-2.js' %}"></script> 
<script src="{% static 'js/edit-profile-modal.js' %}"></script> 
<script src="{% static 'js/sign-up-modal.js' %}"></script>



<!-- risizing width of select option -->
<script>
// Get the select element
var selectElement = document.getElementById("resizing_select-1");
var selectElement2 = document.getElementById("resizing_select-2");

// Add an event listener to listen for changes in the selection
function updateSelectWidth() {
  // Get the currently selected option
  var selectedOption = selectElement.options[selectElement.selectedIndex];

  // Get the number of characters in the option's text
  var numCharacters = selectedOption.text.length;

  // Set the width of the element
  selectElement.style.width = (numCharacters * 8) + "px";

  if ((numCharacters * 8) <= 40) {
    selectElement.style.width = "45px"
  }
  if (selectedOption.text == "Graham") {
    selectElement.style.width = "58px"
  }

  // Store the updated width value in localStorage
  localStorage.setItem("selectWidth", selectElement.style.width);
}

// Call the function on first load
updateSelectWidth();

// Call the function when the "change" event is triggered
selectElement.addEventListener("change", updateSelectWidth);

// Get the stored width value from localStorage on page load
var storedWidth = localStorage.getItem("selectWidth");
if (storedWidth) {
  selectElement.style.width = storedWidth
}

// Add an event listener to listen for changes in the selection
function updateSelect2Width() {
  // Get the currently selected option
  var selectedOption2 = selectElement2.options[selectElement2.selectedIndex];

  // Get the number of characters in the option's text
  var numCharacters2 = selectedOption2.text.length;

  // Set the width of the element
  selectElement2.style.width = (numCharacters2 * 8) + "px";

  if (selectedOption2.text == "All Time") {
    selectElement2.style.width = "55px"
  }
  if (selectedOption2.text == "Week") {
    selectElement2.style.width = "40px"
  }
  if (selectedOption2.text == "Month") {
    selectElement2.style.width = "45px"
  }

  // Store the updated width value in localStorage
  localStorage.setItem("selectWidth2", selectElement2.style.width);
}

// Call the function on first load
updateSelect2Width();

// Call the function when the "change" event is triggered
selectElement2.addEventListener("change", updateSelect2Width);


// Get the stored width value from localStorage on page load
var storedWidth2 = localStorage.getItem("selectWidth2");
if (storedWidth2) {
  selectElement2.style.width = storedWidth2;
}

 
</script>


<!-- listen for changes to leaderboard -->
<script>
  // Get the form and dropdown menu elements
  const form = document.querySelector('#category-form');
  const select = document.querySelector('#resizing_select-1');
  const select2 = document.querySelector('#resizing_select-2');

  // Listen for changes in the dropdown menu
  select.addEventListener('change', () => {
    // Submit the form
    form.submit();
  });
  // Listen for changes in the dropdown menu
  select2.addEventListener('change', () => {
    // Submit the form
    form.submit();
  });
</script>



<!-- script to get the time updates to show on community news feed -->
<script>
  $(document).ready(function() {
    // Make an AJAX request to the server to retrieve the updated time difference
    function updateTime(postId) {
      $.ajax({
        url: '/get_time_since_last_update/',
        data: {
          'post_id': postId
        },
        success: function(data) {
          $('#time-since-last-update-' + postId).text(data.time_diff);
        }
      });
    }

    // Update the time for each post every 10 seconds
    {% for post in community_updates %}

      var time_lapsed = parseInt("{{ post.created_at|time_lapsed_seconds }}")

      if (time_lapsed < 60) {
        time_update_interval = 1000 
      } 
      else if (time_lapsed < 3600) {
        time_update_interval = 60000 
      }
      else if (time_lapsed < 86400) {
        time_update_interval = 3600000 
      }


      setInterval(function() {
        var post_id = "{{ post.id }}"
        updateTime(post_id);
      }, time_update_interval);

    {% endfor %}
  });
</script>


<!-- script to preview multiple image uploads -->
<script>
  const preview = (file) => {
    var img_ele = document.createElement('div');
    img_ele.className = "media-element";

    const img = document.createElement("img");
    img.src = URL.createObjectURL(file);  // Object Blob
    img.alt = file.name;
    img_ele.append(img);

    document.getElementById('img-previews').appendChild(img_ele);

  };

  document.querySelector("#files").addEventListener("change", (ev) => {
    if (!ev.target.files) return;
    document.getElementById("journal-img-upload-icon").remove();
    document.getElementById("upload-img-div").style.display = "none";

    [...ev.target.files].forEach(preview);
  });

</script>


<!-- feed to allow ajax request to create modal from community updates -->
<script>
var links = document.querySelectorAll('.modal-link');

links.forEach(function(link) {
  link.addEventListener('click', function(e) {
    e.preventDefault(); // prevent the default behavior of the link
    var postId = link.dataset.postId; // get the post ID from the data attribute

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/get_community_modal/');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          var modal = document.getElementById('myModal-' + postId);
          var modalContent = document.getElementById('myModalContent-' + postId);
          modalContent.innerHTML = xhr.responseText;
          modal.style.display = 'block';

          // Extract script tags from the response text
          var parser = new DOMParser();
          var responseDoc = parser.parseFromString(xhr.responseText, 'text/html');
          var scripts = responseDoc.querySelectorAll('script');

          // Append extracted script tags to the head of your document
          scripts.forEach(function(script) {
            var newScript = document.createElement('script');
            newScript.textContent = script.textContent;
            document.head.appendChild(newScript);
          });

          document.addEventListener('click', function(event) {
            if (!event.target.closest(".myModal")) {
              modal.style.display = "none";
              document.getElementById('jcommunity-map-' + postId).innerHTML = "";
            }
          });

          
        } else {
          // handle error
        }
      }
    };
    var data = 'post_id=' + postId;
    xhr.send(data);
  });
});


function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

</script>



{% endblock %}