
@font-face {
    font-family: 'Mona Sans';
    src:
      url('../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

/* @font-face {
    font-family: 'PT Sans Custom';
    src: url('../fonts/PTSans-Regular-custom-10em-bolden.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("fonts/Helvetica Neue Regular/Helvetica Neue Regular.otf") format("opentype");
} */

body {
    font-family: "Mona Sans";
    font-size: 24px;
    color: white;
    background-color: #ffffff;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
  }
  
.hero-text-container {
    /* width: 40%; */
    width: 430px;
    margin-top: 50px;
    margin-left: 10px;
    /* margin-right: 5%; */
}

.hero-text {
    font-family: "PT Sans", sans-serif;
    /* font-synthesis: none; */
    font-weight: 600;
    line-height: 1em;
    color: #D9ECC7;
    font-size: 4.2rem;
    z-index: 20;
    margin-bottom: 25px;
    z-index: 500;
}

.hero-text-further-info {
    font-size: 0.72em;
    z-index: 500;
    line-height: 1.3em;
}


.donder-hero-image {
    width: 60%;
    margin-top: 20px;
    /* margin-right: 4%; */
    z-index: 500;
    padding-left: 0;
    /* overflow: hidden; */

}

.donder-hero-image img {
    width: 100%;
    /* padding-top: 20px; */
    /* padding-right: 10px; */
    height: auto;
    transform: perspective(800px) rotateY(-9deg);
}



.wave-split {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: translate(0%, 300px) rotate(180deg);
    z-index: -5;
}

.wave-split::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #fff;
    overflow: hidden;
  }

.wave-split svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 450px;
    transform: translate(-280px, 0%) rotateY(180deg);
    z-index: -5;
    overflow: hidden;
}

.wave-split .shape-fill {
    fill: #ffffff;
    z-index: -5;
    overflow: hidden;
}

.not-blurry {
    fill: black;
    stroke: url(#MyGradient);
    stroke-width: 1px;
    z-index: 9;
    transform: translate(0%, 300px) rotate(180deg);
    /* opacity: 80% */
    overflow: hidden;
}

.blurry {
    fill: black;
    stroke: url(#MyGradient);
    stroke-width: 3px;
    z-index: 10;
    filter: blur(4px);
    transform: translate(0%, 302px) rotate(180deg);
    /* opacity: 80% */
    overflow: hidden;
}

.frosty-container {
    width: 50%;
    height: 50px;
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);  */
    /* border-radius: 5px; */
    position: absolute;
    z-index: 10;
    background: inherit;
    /* overflow: hidden; */
}
  
.frosty-container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.hero-video-holder {
    position: absolute;
    width: 100%;
    height: 600px;
    transform: translate(0%, -80px);
    overflow: hidden;
    z-index: -10;
}

#heroVideo {
    display: block;
}

#hero-image {
    display: none;
}
  



/* .cool-underline {
    position: relative;
    white-space: nowrap;
    background-image: linear-gradient(120deg,#def0d1,#81f7ac);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 88%;
    transition: all .4s ease-in;
    display: inline;
} */






.frosty-effect {
    background-image: linear-gradient(45deg, #07A3B2 21.08%, #D9ECC7 51.96%);
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -10;
    transform: translate(0px, -75px);
    opacity: 60%;
}

.navbar {
    margin-right: 1.5rem;
}

.main-heading-text {
    cursor: pointer;
    z-index: 1000;
    color: white;
    font-weight: 500;
    position: relative;
    font-size: 28px;
    font-stretch: 100%;
}

.main-heading-text-colorful {
    cursor: pointer;
    z-index: 1000;
    color: white;
    font-weight: 600;
    /* font-stretch: 90%; */
    /* position: relative; */
    font-size: 36px;
    background-color: white;
    /* background-image: linear-gradient(140deg, #d5e0cd 41.08%, white  50.96%); */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: "PT Sans", sans-serif;
    /* text-shadow: 0 0 0.1px #d5e0cd, 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255); */
}


.button-text-colorful {
    cursor: pointer;
    z-index: 1000;
    color: white;
    font-weight: 600;
    font-stretch: 100%;
    position: relative;
    font-size: 16px;
    /* Fallback: Set a background color. */
    background-color: white;
    /* Create the gradient. */
    background-image: linear-gradient(120deg, #07A3B2 20.08%, #D9ECC7 80.96%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.button-text-white {
    cursor: pointer;
    color: white;
}

button.button-buy {
    border-radius: 200rem;
    padding: 1rem;
    font-size: 1rem;
    padding: .2rem 1rem;
    border: solid 2px #fff;
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(120deg, #07a4b283 20.08%, #d9ecc784 80.96%);
    background-origin: border-box;
    margin-left: 5px;
    font-weight: 600;
}



button.button-buy:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    /* url("{static 'video/hero-video.mp4'}"); */
    background-blend-mode: overlay;
}

button.button-buy:hover .button-text-white {
    /* Fallback: Set a background color. */
    background-color: white;
    /* Create the gradient. */
    background-image: linear-gradient(120deg, #07A3B2 20.08%, #D9ECC7 80.96%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


button.button-signup {
    border-radius: 200rem;
    padding: 1rem;
    font-size: 1rem;
    padding: .2rem 1rem;
    border: solid 2px #fff;
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(120deg, #07a4b283 20.08%, #d9ecc784 80.96%);
    background-origin: border-box;
    margin-left: 5px;
    font-weight: 600;
}



button.button-signup:hover {
    border-radius: 200rem;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    padding: .2rem 1rem;
    border: solid 2px #fff;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    /* url("{static 'video/hero-video.mp4'}"); */
    background-blend-mode: overlay;
    cursor: pointer;
}

button.button-signup:hover .button-text-white {
    /* Fallback: Set a background color. */
    background-color: white;
    /* Create the gradient. */
    background-image: linear-gradient(120deg, #07A3B2 20.08%, #D9ECC7 80.96%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}



.img-profile-nav {
    position: relative;
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* float: right; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    border: solid 2px #ffffff;
}

.img-profile-nav:hover {
    cursor: pointer;
}


button.button-login {
    border-radius: 200rem;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    padding: .2rem 1rem;
    border: solid 2px #fff;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    /* url("{static 'video/hero-video.mp4'}"); */
    background-blend-mode: overlay;
    font-weight: 600;
}

button.button-login:hover{
    border-radius: 200rem;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    padding: .2rem 1rem;
    border: solid 2px #fff;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    /* url("{static 'video/hero-video.mp4'}"); */
    background-blend-mode: overlay;
    cursor: pointer;
    /* box-shadow: 2px 1000px 1px #111111 inset; */
}

button.button-login:hover .login-button-text-colorful {
    /* Fallback: Set a background color. */
    background-color: white;
    /* Create the gradient. */
    background-image: linear-gradient(120deg, #07A3B2 20.08%, #D9ECC7 80.96%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 85vw;
    min-height: 400px;
    max-height: 85vh;
    border-radius: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 42px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    color: black;
    border: none;
    width: 100%;
}

/* modal title */
.modal-title {
    font-size: 32px !important;
    line-height: 28px !important;
    font-feature-settings: unset;
    font-weight: 600 !important;
    text-align: center !important;
}

.modal-second-title {
    font-size: 18px !important;
    line-height: 28px !important;
    font-feature-settings: unset;
    font-weight: 400 !important;
    text-align: center !important;
}

#modal-buy-opts p {
    margin-top: 25px;
    font-size: 21px;
    text-align: left;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* loging modal */
#modal-login p {
    /* margin-top: 25px;
    font-size: 21px;
    text-align: center; */
}

/* The Modal (background) */
.modal-login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 35vw;
    min-width: 400px;
    /* min-height: 200px; */
    max-height: 50vh;
    border-radius: 32px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-signup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 35vw;
    min-width: 400px;
    /* min-height: 200px; */
    max-height: 60vh;
    border-radius: 32px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}





.button-login-request {
    background-color: #08a3b1;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 30px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 10px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-top: 8px;
}

.button-login-request:hover,
.button-login-request:focus {
    opacity: .75;
}




.card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('/static/img/ben_nevis_test.png');
 }

.search-and-grid {
    position: relative;   
    margin-top: 610px;
}

.default-filters-country {
    position: relative;
    /* margin-top: 100px; */
    z-index: 100;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0px;
    padding-left: 0rem;
    margin-bottom: 10px;
    padding-bottom: 2px;
    margin-top:-5px;
    /* width: 580px; */
    /* height: 50px; */
    width: auto;
    overflow: auto;
    white-space:nowrap;
}


.sort-by-buttons-container {
    width: auto;
    overflow: auto;
    white-space:nowrap;
    position: relative;
    padding-top: 30px;
    padding-bottom: 2px;
    z-index: 500;
    margin-bottom: 4px;
}


.marker {
    background-color: #ff0000; /* Red color */
    width: 12px; /* Adjust the size of the marker */
    height: 12px;
    border-radius: 50%; /* This creates a circular shape */
    cursor: pointer;
}


button.filter-grid-element {
    background-color: rgba(191, 191, 191, 0.627);
    color: #303030;
    display: inline-block; 
    border: #07A3B2 solid 1.75px;
    padding-left: 7px;
    padding-right: 7px;
    /* padding-top: 3px; */
    /* padding-bottom: 3px; */
    font-size: 0.65em;
    border-radius: 32px;
    margin-right: 1px;
    margin-left: 1px;
    cursor: pointer;
    opacity: 0.9;
}

.sort-by-buttons {
    float:right; 
    position:relative; 
    margin-right:1.5rem;
}


#searchForm {
    background-color: rgb(255, 255, 255);
    color: #303030;
    display: inline-block; 
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 0px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
    opacity: 0.9;
    height: 10px;
    width: 275px;
    margin-right: -5px;
    margin-bottom: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.seInput {
    background-color: rgb(255, 255, 255);
    color: #303030;
    display: inline-block; 
    border: #07A3B2 solid 1.75px;
    padding-left: 7px;
    /* padding-right: 7px; */
    font-size: 0.65em;
    border-radius: 8px;
    /* margin-right: 1px; */
    margin-left: 0px;
    cursor: pointer;
    opacity: 0.9;
    width: 150px;
    -webkit-appearance: none;
    -webkit-user-select: text; /* Chrome, Opera, Safari */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
    -moz-appearance: none;
    appearance: none;
}


#searchForm input[type="text"] {
    background-color: rgb(255, 255, 255);
    color: #303030;
    display: inline-block; 
    border: #07A3B2 solid 1.75px;
    padding-left: 7px;
    /* padding-right: 7px; */
    font-size: 0.65em;
    border-radius: 8px;
    /* margin-right: 1px; */
    margin-left: 0px;
    cursor: pointer;
    opacity: 0.9;
    width: 100%;
    height: 27px;
    -webkit-appearance: none;
    -webkit-user-select: text; /* Chrome, Opera, Safari */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
    -moz-appearance: none;
    appearance: none;
}

input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }




.grid-wrapper {
    /* width: 95%; */
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.auto-grid {
    --auto-grid-min-size: 14rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    z-index: 200;
}


.tile {
    /* padding: 5rem 1rem; */
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    background: #ffffff00;
    color: #ffffff;
    z-index: 200;
    border-radius: 15px;
    cursor: pointer; 
    display: grid;
    box-shadow: 0 .2rem 0.8rem 0 #00000057;
    display:-webkit-box;
    display:-webkit-flex;
    display:-webkit-flexbox;
    align-content: center;
    justify-content: center;
    position: relative;
}

.tile::before {
    content: "";
    padding-bottom: 120%;

  }

.tile::before, .tile img {
    grid-area: 1 / 1 / 1 / 1;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.tile .tile-heading {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    position: absolute;
    display: grid;
    align-self: center;
    justify-self: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.229),1px 1px 2px rgba(0, 0, 0, 0.321);
}


.location-icon {
    position: absolute;
    width: 1rem;
    height: auto;
    z-index: 10;
    left: 10px;
    align-self: flex-start;
    transform: translateY(11px);
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
} 


.location-txt {
    position: absolute;
    text-align: left;
    height: auto;
    z-index: 10;
    left: 29px;
    align-self: flex-start;
    transform: translateY(15px);
    font-size: 16px;
    font-stretch: 85%;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),1px 1px 1px rgba(0, 0, 0, 0.1);
} 

.ascents-icon {
    position: absolute;
    width: 1.8rem;
    height: auto;
    z-index: 10;
    left: 10px;
    align-self: flex-end;
    transform: translateY(-12px);
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
} 

.ascents-txt {
    position: absolute;
    text-align: left;
    /* width: 1.6rem; */
    height: auto;
    z-index: 10;
    left: 40px;
    align-self: flex-end;
    transform: translateY(0px);
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    font-stretch: 95%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),1px 1px 1px rgba(0, 0, 0, 0.1);
} 

.height-icon {
    position: absolute;
    width: 1rem;
    height: auto;
    z-index: 10;
    right: 50px;
    align-self: flex-start;
    transform: translateY(10.5px);
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
} 


.height-txt {
    position: absolute;
    text-align: right;
    height: auto;
    z-index: 10;
    right: 10px;
    align-self: flex-start;
    transform: translateY(15px);
    font-size: 16px;
    font-stretch: 85%;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),1px 1px 1px rgba(0, 0, 0, 0.1);
} 

.categories-list {
    position: absolute;
    height: auto;
    z-index: 10;
    right: 3px;
    align-self: flex-end;
    transform: translateY(-15px);
    display: flex;
    flex-direction: column;
    text-align: right;
} 

.categories-list-ele {
    pointer-events: none !important;
    display: inline-block;
    margin-top: 3px;
} 

.default-filters-country::-webkit-scrollbar {
    /* -webkit-appearance: none; */
    display: none;
    /* width: 5px; */
    height: 0px;
}

.default-filters-country:hover::-webkit-scrollbar {
    display: block;
    height: 8px;
}

/* Style the scrollbar track */
.default-filters-country::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Style the scrollbar thumb */
    .default-filters-country::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
    .default-filters-country:hover::-webkit-scrollbar-thumb {
    background: #dcdcdc;
}



.sort-by-buttons-container::-webkit-scrollbar {
    /* -webkit-appearance: none; */
    display: none;
    /* width: 5px; */
    height: 0px;
}

.sort-by-buttons-container:hover::-webkit-scrollbar {
    display: block;
    height: 8px;
}

/* Style the scrollbar track */
.sort-by-buttons-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Style the scrollbar thumb */
.sort-by-buttons-container::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
.sort-by-buttons-container:hover::-webkit-scrollbar-thumb {
    background: #dcdcdc;
}






.myModal::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
}

.insight-modal::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
}

.card::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
}



/* .default-filters-country::-webkit-scrollbar-thumb {
    border-radius: 32px;
    background-color: rgba(126, 126, 126, 0.199);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} */


/* classification categories filters */
.cat-filters-holder {
    position: relative;
    z-index: 100;
    margin-bottom: 0px;
    padding-left: 1.5rem;
    margin-bottom: 10px;
    width: 50%;
    overflow:auto;
    overflow-x: scroll;
    white-space:nowrap;
    /* border-radius: 32px; */
}

.cat-filter {
    background-color: rgba(191, 191, 191, 0.627);
    color: rgb(101, 101, 101);
    display: inline-block;
    border: #07A3B2 solid 1.75px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 0.65em;
    border-radius: 32px;
    margin-right: 1px;
    margin-left: 1px;
    cursor: pointer;
    opacity: 0.9;
    width: fit-content;
    margin-left: auto;
} 


.cat-filter::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cat-filter::-webkit-scrollbar:horizontal {
    height: 11px;
}

.cat-filter::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}



/* scottish cateogory filters */
.munro-filter {
    background-color: #4cb3c1b7 !important;
    border: #4cb3c1 solid 1.75px !important;
    color: #ffffff !important;
}

.corbett-filter {
    background-color: #4cb3c17b !important;
    border: #4cb3c1 solid 1.75px !important;
    color: #ffffff !important;
}

.graham-filter {
    background-color: #abd9cf47 !important;
    border: #abd9cf solid 1.75px !important;
    color: rgba(101, 101, 101, 0.475) !important;
}

/* english cateogory filters */
.wainright-filter {
    background-color: #abd9cf47 !important;
    border: #abd9cf solid 1.75px !important;
    color: rgba(101, 101, 101, 0.475) !important;
}

.dewey-filter {
    background-color: #abd9cf47 !important;
    border: #abd9cf solid 1.75px !important;
    color: rgba(101, 101, 101, 0.475) !important;
}




/* SWITCH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.switch-wrapper {
    margin-top: 30px;
    height: 40px;
    position: relative;
    display: inline-block;
    /* padding: 4px; */
    border: #07A3B2 solid 1.75px;
    /* margin-bottom: 40px; */
    border-radius: 32px;
    background: rgba(191, 191, 191, 0.627);
  }
  
  .switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
    color: white;
  }
  
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
    background: transparent;
  }
  
  .switch-wrapper
    [type="radio"]:checked#monthly
    + label[for="yearly"]
    ~ .highlighter {
    transform: none;
  }
  
  .switch-wrapper
    [type="radio"]:checked#yearly
    + label[for="monthly"]
    ~ .highlighter {
    transform: translateX(100%);
  }
  
  .switch-wrapper label {
    font-size: 0.75em;
    z-index: 1;
    min-width: 100px;
    /* line-height: 32px; */
    cursor: pointer;
    border-radius: 32px;
    transition: color 0.25s ease-in-out;
  }
  
  .switch-wrapper label:hover {
    background: white;
  }
  
  .switch-wrapper .highlighter {
    position: absolute;
    color: white;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: 30px;
    border-radius: 32px;
    background: white;
    border: #07A3B2 solid 1.75px;
    transition: transform 0.25s ease-in-out;
  }

  .container {
    /* max-width: 1000px; */
    text-align: center;
    padding: 0 10px;
    margin: 0 auto;
  }


.login-message {
    font-size: 14px;
    color: coral;
    margin-bottom: 5px;
}

.signup-message {
    font-size: 14px;
    color: coral;
    margin-bottom: 5px; 
}


select {
    /* styling */
    background-color: #bfbfbfa0;
    color: #303030;
    border: #07A3B2 solid 1.75px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 32px;
    font-size: 0.65em;
    /* width: 80px; */
    cursor: pointer;
    opacity: 0.9;
    display: inline-block;
    position: relative;
  
    /* reset */
    /* margin: 0;       */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align-last: center; /* For Firefox */
    -webkit-text-align-last: center; /* For Safari */
    text-align: center; /* For other browsers */
    
  }





.insight-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    /* min-width: 65vw !important; */
    /* min-width: 200px !important; */
    min-width: 355px !important;
    max-width: 540px !important;
    min-height: 590px !important;
    max-height: 1000px !important;
    border-radius: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 42px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px !important;
    /* padding-bottom: 0 !important;
    margin-bottom: 0 !important; */
}

/* Modal Content */
.insight-modal-content {
    background-color: #ffffff;
    color: black;
    /* border: none; */
    width: 100%;
}



.information-div {
    /* border: 1px solid #dddfe2; */
    border-radius: 8px;
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    margin-bottom: 0px;
    padding-bottom: 0;
    scrollbar-width: none;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
}

.information-div img {
    /* Other styles... */
    display: inline-block; /* Add this */
    vertical-align: middle; /* If you want to vertically center the elements */
    opacity: 50% !important; 
    filter: saturate(50%);
    margin-right: 2px !important;
  }

.information-div-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: auto;
  }


.information-div::-webkit-scrollbar {
    width: 0px;
    height: 0px
}

/* .media-scroller::-webkit-scrollbar {
    width: 0px;
    height: 0px
} */

.information-div-ele img {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 50%; 
    display: inline-block; /* Add this */
    vertical-align: middle; 
}

.information-div-text {
    position: relative;
    font-size: 0.4em; 
    /* vertical-align: center; */
    line-height: 0.95em;
    display: block;
    flex-direction: column;
    align-self: center;
    justify-content: left;
    justify-self: left;
    margin-left: 2px;
    margin-right: 8px;
    /* width: 290px; */
    text-align: left;
    /* text-transform: upppercase ; */
    white-space: nowrap;
}

.cat-filter-journal-entry {
    position: relative;
    background-color: #f0efef;
    color: #999999;
    border: none;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    border-radius: 32px;
    margin-right: 1px;
    margin-left: 1px;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    /* opacity: 0.7; */
    white-space: nowrap;
} 

.img-profile-status {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.journal-entry-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    /* min-width: 65vw !important; */
    /* min-width: 200px !important; */
    min-width: 355px !important;
    max-width: 540px !important;
    min-height: 590px !important;
    max-height: 1000px !important;
    border-radius: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 42px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px !important;
    /* padding-bottom: 0 !important;
    margin-bottom: 0 !important; */
}

/* Modal Content */
.modal-content-edit-profile {
    background-color: #ffffff;
    color: black;
    /* border: none; */
    width: 100%;
}



.media-scroller::-webkit-scrollbar {
    /* -webkit-appearance: none; */
    display: none;
    /* width: 5px; */
    height: 0px;
}

.media-scroller:hover::-webkit-scrollbar {
    display: block;
    margin-top: 5px;
    height: 10px;
}

/* Style the scrollbar track */
.media-scroller::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Style the scrollbar thumb */
    .media-scroller::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
    .media-scroller:hover::-webkit-scrollbar-thumb {
    background: #dcdcdc;
}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.media-scroller {
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
    grid-auto-columns: 82%;
    overflow-x: scroll;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .media-element {
    display: grid;
    /* grid-template-rows: min-content; */
  }

  .media-element > p {
    font-size: 10px;
  }
  
  .media-element > img {
    inline-size: 100%;
    border-radius: 8px;
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
  }
  
  .test-class {
    height: 50px;
    width: 30px;
    background-color: #07A3B2;
  }

/* The Modal (background) */
.modal-no-other-users-landing {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 35vw;
    min-width: 400px;
    /* min-height: 200px; */
    max-height: 50vh;
    border-radius: 32px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

      
/* !!!!!!!!!!!! RESPONSIVENESS !!!!!!!!!!!! */

/* manage formatting for mobile devices */
/* nav bar related formatting */
@media screen and (max-width: 560px) { 
    /* .main-heading-text-colorful{
        font-size: 26px;
    }
    .main-heading-text   {
        font-size: 26px;
    }
    .hero-text {
        font-size: 44px;
        line-height: 46px;
    }
    .button-text-colorful  {
        font-size: 11px;
    }
    button.button-buy {
        padding: 0.1rem;
        padding: 0.05rem 0.5rem;
        border: solid 2px transparent;
    }
    button.button-login {
        padding: 0.1rem;
        padding: 0.05rem 0.5rem;
        border: solid 2px transparent;
    } */
    /* .auto-grid {
        --auto-grid-min-size: calc(100% / 3)
    }
    .grid-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .default-filters-country {
        padding-left: 1rem;
    }
    .hero-text {
        font-weight: 700;
        font-size: 3.2rem;
        margin-bottom: 15px;
    } */

} 



/* updates for non-mobile devices */
@media screen and (min-width: 560px) {
    #mainNav {
        -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);
    }
}

/* only if window width is greater than video width then resize */
@media screen and (min-width: 1200px) { 
    video {
        width: 100%    !important;
    }
}

/* hero-video/image related formatting */
@media screen and (max-width: 610px) {
    .wave-split {
        transform: translate(0%, 340px) rotate(180deg);
    }
    .wave-split svg {
        transform: translate(-150px, 0%) rotateY(180deg);
        height: 450px;
        width: calc(450% + 1.3px);
    }
    .auto-grid {
        --auto-grid-min-size: calc(100% / 3)
    }
    .grid-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .default-filters-country {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sort-by-buttons {
        margin-right: 1rem !important;
    }
    .hero-text {
        margin-bottom: 15px;
    }
    .sort-by-buttons {
        margin-right:1rem
    }
    .exit_button {
        right: 0px !important
    }
}


/* repsonsiveness for under 1114px when hero image and text cascade */
@media screen and (max-width: 1114px) {
     
    .hero-container {
        text-align: center;
    }

    .hero-text-container {
        max-width: 500px;
        margin-top: 20px;
    }
    
    .donder-hero-image {
        width: 100%;
        margin-top: 10px;
        z-index: 500;
        padding-left: 0;
        margin-top: -50px
    }

    .form-floating, .join-btn {
        display: none;
    }

    .donder-hero-image img {
        width: 100%;
        height: auto;
        transform: none;
    }

}



/* @media screen and (max-width: 720px) {

    .donder-hero-image {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }


} */

/* @supports (-webkit-touch-callout: none) {
  
    select.order-by-opts {
        width: auto !important;
        padding-left: 18px !important;
        padding-right: 0px !important;
    }
  }
   */
@media (max-width: 720px) {
    #heroVideo {
        display: none;
    }

    #hero-image {
        display: block;
    }
}

@media screen and (max-width: 535px) { 
    .sort-by-buttons {
        float: left !important;
        margin-left: -5px; 
    }

    .sort-by-buttons-container {
        margin-right: 0.7em;
        margin-left: 0.8em;
    }    

    #searchForm {
        width: 235px
    }

    #searchForm input[type="text"] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        /* width: calc(100% - 10em); */
        height: 25px;

    }



}


/* need to make most text smaller when screen is smaller than 460px  */
@media screen and (max-width: 500px) { 

    .hero-container {
        margin-left: 5px;
        margin-right: 5px;
    }
    .hero-text {
        font-size: 2.3em;
    }
    .hero-text-further-info {
        width: 300px;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.55em;
        line-height: 20px;
    }

    button.filter-grid-element {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 0.55em;
    }

    button.cat-filter {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 0.55em;
    } 

    /* #searchForm {
        line-height: 20px;
    } */
    
    /* #searchForm input[type="text"] {

    } */



    select {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 0.55em;
        /* width: 85px !important; */
        /* padding-left: 30px; */
        /* margin-bottom: 0px; */
      }
    
    .sort-select {
        width: 85px !important;
    }

    .default-filters-country {
        margin-top:-12px;
    }

    .tile .tile-heading {
        font-size: 0.85em;
    }

    .categories-list-ele {
        font-size: 0.5em !important;
    } 

    .height-txt, 
    .location-txt {
        font-size: 0.7em;   
        transform: translateY(16px); 
    }

    .ascents-txt {
        font-size: 0.52em;   
    }

    .height-icon {
        width: 1rem;
        height: auto;
        right: 41px;
        transform: translateY(10px);
    } 

    .location-icon {
        transform: translateY(10px);

    }

    .main-heading-text-colorful {
        font-size: 1em;
    }

    button.button-signup, button.button-signup:hover,
    button.button-login, button.button-login:hover,
    button.button-buy, button.button-buy:hover  {
        font-size: 0.5em;
    }

    .community-posts-feed {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .information-div {
        justify-content: flex-start !important;
    }

    .mapbox-map {
        border-radius: 16px !important;
    }


}



