body {
    font-family: "Mona Sans";
    font-size: 24px;
    color: white;
    background-color: #f6f6f6;
    text-rendering: geometricPrecision;
}

h1, h2, h3 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
}


/* Safari-specific CSS */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .edit-profile-img {
      -webkit-filter: saturate(70%);
    }
  }

.hero-bg {
    position: absolute;
    width: 100%;
    height: 40%;
    transform: translate(0%, -80px);
    overflow: hidden;
    z-index: -10;
    background-image: linear-gradient(140deg, #07A3B2 50.08%, #D9ECC7 90.96%);
}

#mainNav {
    -webkit-backdrop-filter: none; 
    backdrop-filter: none;
    color: white !important;
    display: flex !important;
}

#mainNav .navbar-brand .main-heading-text-colorful {
    color: white !important;
    background-image: none;
}

.journal-grid-wrapper {
    /* width: 95%; */
    position: relative;
    padding-left: 0rem;
    padding-right: 0rem;
}

.journal-auto-grid {
    --auto-grid-min-size: calc(100% / 4);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    z-index: 200;
}

.journal-tile {
    /* padding: 5rem 1rem; */
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    background: #ffffff00;
    color: #ffffff;
    z-index: 200;
    border-radius: 16px;
    cursor: pointer; 
    display: grid;
    box-shadow: 0 .2rem 0.8rem 0 #00000057;
    display: -webkit-box;
    display: -webkit-flex;
    display: -webkit-flexbox;
    align-content: center;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

.journal-tile::before {
    content: "";
    padding-bottom: 100%;
}

.journal-tile::before, .journal-tile img {
    grid-area: 1 / 1 / 1 / 1;
}

.journal-tile img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.journal-tile .journal-tile-heading {
    color: white;
    font-size: 1em;
    font-weight: 500;
    position: absolute;
    display: grid;
    align-self: center;
    justify-self: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.229),1px 1px 2px rgba(0, 0, 0, 0.321);
}

.journal-tile .journal-tile-date-climbed {
    color: white;
    font-size: .7em;
    font-weight: 500;
    position: absolute;
    display: grid;
    align-self: flex-end;
    justify-self: center;
    font-stretch: 90%;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.229),1px 1px 2px rgba(0, 0, 0, 0.321);
    transform: translateY(-5px);
}

.img-profile {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.img-profile-status {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}


.img-profile-edit {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}


.form-input {
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    color: #1d2129;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-size: 0.8em;
    /* height: 1.2em; */
    /* line-height: 16px; */
    padding: 0 8px;
    /* vertical-align: middle; */
    border-radius: 4px;
}

.edit-profile-img-icon {
    color: black;
    font-size: 1em;
    font-weight: 500;
    position: absolute;
    align-items: center;
    align-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding-right: 10px; */
}

button.button-edit-profile {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    /* padding: 1rem; */
    font-size: 1rem;
    /* padding: .1rem 1rem; */
    /* padding-left: 0rem; */
    border: none;
    color: rgb(235, 233, 233);
    background-color: rgb(235, 233, 233);
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(120deg, #07a4b283 20.08%, #d9ecc784 80.96%); */
    background-origin: border-box;
    /* margin-left: 5px; */
    font-weight: 600;
    align-self: end;
    transform: translate(-5px, 5px);
}

button.button-edit-profile:hover {
    cursor: pointer;
}


.button-edit-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 35px;
    height: 35px;
    padding: 0;
  }

.edit-profile-img {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
}


.card-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.profile-card {
    height:85%; 
    width:25%; 
    position: relative; 
    float:left;
    background-color: #f6f6f6;
    margin-left: 80px;
    border-radius: 16px;
}

.journal-card {
    height: 41%; 
    width: 64%; 
    position: relative;
    float: right;
    background-color: #ffffff;
    margin-right: 80px;
    border-radius: 16px;
}

.community-card {
    height: 41%; 
    width: 64%; 
    position: relative;
    float: right;
    display: flex-end;
    background-color: #ffffff;
    margin-right: 80px;
    margin-top: 20px;
    border-radius: 16px;
}

.well {
    background-color:red;
    padding: 10px;
    margin-top: 4px;
}

.progress-bar {
    background-image: linear-gradient(120deg, #07A3B2 20.08%, #07A3B2 80.96%);
    border-radius: 4px;
    /* background-color: orange; */
}


/* .progress-bar-container {
    background: rgb(226, 225, 225);
    border-radius: 5px;
    position:relative; 
  }
  
  .progress-bar-indicator {
    height: 100%;
    border-radius: 5px;
    -webkit-mask:linear-gradient(#fff 0 0);
            mask:linear-gradient(#fff 0 0);
  }
  .progress-bar-indicator::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient(90deg, #D9ECC7 5.08%, #07A3B2 60.96%); 
  } */

/* The Modal (background) */
.edit-profile-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    /* min-width: 65vw !important; */
    /* min-width: 200px !important; */
    max-width: 700px !important;
    min-height: 275px !important;
    max-height: 275px !important;
    border-radius: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 42px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px !important;
    /* padding-bottom: 0 !important;
    margin-bottom: 0 !important; */
}

/* Modal Content */
.modal-content-edit-profile {
    background-color: #ffffff;
    color: black;
    /* border: none; */
    width: 100%;
}

.image-upload>input {
    display: none;
  }


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


#preview {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;    
}

#preview img { 
    max-height: 120px; 
}

select {
    text-align-last: center; /* For Firefox */
    -webkit-text-align-last: center; /* For Safari */
    text-align: center; /* For other browsers */
}
  
.button-profile-edit-update {
    background-color: #08a3b1;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 30px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 10px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-top: 8px;
}

.button-profile-edit-update:hover,
.button-profile-edit-update:focus {
    opacity: .75;
}

.add-hike-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    /* min-width: 65vw !important; */
    /* min-width: 200px !important; */
    min-width: 355px !important;
    max-width: 540px !important;
    min-height: 550px !important;
    max-height: 800px !important;
    border-radius: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 42px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px !important;
    /* padding-bottom: 0 !important;
    margin-bottom: 0 !important; */
}

.edit-profile-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    /* min-width: 65vw !important; */
    /* min-width: 200px !important; */
    min-width: 320px !important;
    max-width: 400px !important;
    min-height: 570px !important;
    max-height: 570px !important;
    border-radius: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 42px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px !important;
    /* padding-bottom: 0 !important;
    margin-bottom: 0 !important; */
}



.journal-entry-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    /* min-width: 65vw !important; */
    /* min-width: 200px !important; */
    min-width: 355px !important;
    max-width: 540px !important;
    min-height: 590px !important;
    max-height: 1000px !important;
    border-radius: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 42px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px !important;
    /* padding-bottom: 0 !important;
    margin-bottom: 0 !important; */
}



hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }



.img-profile-add-hike {
    /* position: relative; */
    display: block;
    /* display: inline-block; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* float: right; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    /* border: solid 2px #23a7b4; */
}

input[type="date"] {
    width: 100%;
    -webkit-appearance: none;
  }

@supports (-webkit-appearance:none) {
input[type="date"] {
    display: flex;
}
}

.add-hike-form-inputs {
    border: 1px solid #dddfe2 !important;
    border-radius: 4px !important; 
    padding: 0 8px !important;
    height: 40px !important;
    vertical-align: middle !important;
}


.add-hike-img-box {
    height: 140px;
    width: 100%;
    border: 1px dashed #dddfe2;
    border-radius: 4px;
}

.information-div {
    /* border: 1px solid #dddfe2; */
    border-radius: 8px;
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    margin-bottom: 0px;
    padding-bottom: 0;
    scrollbar-width: none;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
}

.information-div img {
    /* Other styles... */
    display: inline-block; /* Add this */
    vertical-align: middle; /* If you want to vertically center the elements */
    opacity: 50% !important; 
    filter: saturate(50%);
    margin-right: 2px !important;
  }

.information-div-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: auto;
  }


.information-div::-webkit-scrollbar {
    width: 0px;
    height: 0px
}

/* .media-scroller::-webkit-scrollbar {
    width: 0px;
    height: 0px
} */

.information-div-ele img {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 50%; 
    display: inline-block; /* Add this */
    vertical-align: middle; 
}




.media-scroller::-webkit-scrollbar {
    /* -webkit-appearance: none; */
    display: none;
    /* width: 5px; */
    height: 0px;
}

.media-scroller:hover::-webkit-scrollbar {
    display: block;
    margin-top: 5px;
    height: 10px;
}

/* Style the scrollbar track */
.media-scroller::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Style the scrollbar thumb */
    .media-scroller::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
    .media-scroller:hover::-webkit-scrollbar-thumb {
    background: #dcdcdc;
}




.information-div-text {
    position: relative;
    font-size: 0.4em; 
    /* vertical-align: center; */
    line-height: 0.95em;
    display: block;
    flex-direction: column;
    align-self: center;
    justify-content: left;
    justify-self: left;
    margin-left: 2px;
    margin-right: 8px;
    /* width: 290px; */
    text-align: left;
    /* text-transform: upppercase ; */
    white-space: nowrap;
}

.cat-filter-journal-entry {
    position: relative;
    background-color: #f0efef;
    color: #999999;
    border: none;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    border-radius: 32px;
    margin-right: 1px;
    margin-left: 1px;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    white-space: nowrap;
    /* opacity: 0.7; */
} 

.dropdown-list {
    display: inline-block !important;
    background: #ccc;
    position:relative;
}
.dropdown-list div.drop {
    display: none;
    width:100%;
    position:absolute;
    left:0;
    top:100%;background: #ccc;
}

/* The Modal (background) */
.modal-journal-lim {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 35vw;
    min-width: 320px;
    /* min-height: 200px; */
    max-height: 50vh;
    border-radius: 32px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* The Modal (background) */
.modal-no-other-users {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 35vw;
    min-width: 320px;
    /* min-height: 200px; */
    max-height: 50vh;
    border-radius: 32px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.addhike-message {
    font-size: 14px;
    color: coral;
    margin-bottom: 5px;
}




@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.media-scroller {
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
    grid-auto-columns: 82%;
    overflow-x: scroll;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
.media-element {
    display: grid;
    /* grid-template-rows: min-content; */
}

.media-element > p {
    font-size: 10px;
}

.media-element > img {
    inline-size: 100%;
    border-radius: 8px;
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
}

.test-class {
    height: 50px;
    width: 30px;
    background-color: #07A3B2;
}

/* RESPONSIVENESS */


/* ensure cards dont get too large on mobile */
@media screen and (max-width: 991px) {
    /* .container{
        max-width: 70%;
    } */
    #progress-card {
        height: 750px !important;
    }
    .community-updates-feed {
        width: 100% !important;
        height: 50% !important;
    }
    .leaderboard-card {
        width: 100% !important;  
        height: 50% !important;      
    }
    .profile-progress-col {
        margin-left: 8px;
        margin-right: 8px;
    }
    .main-div {
        max-width: 500px
    }
    .journal-tile-heading {
        font-size: 0.8em !important;
    }
    .journal-tile-date-climbed {
        font-size: 0.6em !important;        
    }
    .add-hike-title{
        font-size:2.5em !important;
    }
    .contact-profile {
        text-align: center !important;
        justify-content: center !important;
    }

}

@media screen and (max-width: 592px) {
    .container{
        max-width: 100%;
    }
}


@media screen and (max-width: 500px) {
    .journal-auto-grid {
        --auto-grid-min-size: calc(100% / 3)
    }
    .navbar {
        margin-right: 0.3em;
    }

}



